body {
  padding: 20px; /* Adjust the padding value as needed */
  margin: 0;
}
    .login-button {
      background-color: green !important;
      color: white !important;
    }
    .login-button:hover {
      background-color: green !important;
      color: white !important;
    }
 
    p {
      text-align: justify;
    }

    .navbar-nav {
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
      padding: 0;
    }
    
    .navbar-nav li {
      margin-right: 10px;
    }
    
    .navbar-nav li:last-child {
      margin-right: 0;
    }

    .navbar-brand {
      display: flex;
      align-items: center;
  }

  .logo-image {
      margin-right: 10px; /* Adjust the margin as needed */
  }
    
    .logo-text {
      font-weight: bold;
    }

    .logo-text {
      font-weight: bold;
      color: #28a745;
      font-size: 2.1em;
    }
    .hero-section {
      margin-top: 20px;
    }

    .card-container {
      display: flex;
      justify-content: space-between;
    }
    
    .card {
      flex-basis: 30%;
      padding: 20px;
      text-align: center;
      background-color: #f1f1f1;
      width: 20px;
    }
    
    .card img {
      width: 100%;
      max-height: 150px;
      object-fit: cover;
      border-radius: 10px;
    }
    
    .card h5 {
      margin-top: 10px;
    }

    .footer {
      background-color: #f1f1f1;
      padding: 20px 0;
    }
    
    .container {
      max-width: 1200px;
      margin: 0 auto;
    }
    
    .footer-row {
      display: flex;
      align-items: center;
    }
    
    .footer-logo img {
      max-height: 350px;
    }
    
    .footer-columns {
      display: flex;
      flex-wrap: wrap;
    }
    
    .footer-column {
      flex-basis: 25%;
      padding: 0 10px;
    }
    
    .footer-column h5 {
      font-weight: bold;
    }
    
    .footer-column p {
      margin-bottom: 100px;
    }
    
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .footer {
      display: flex;
      justify-content: center;
    }
    
    .footer-links {
      
      display: flex;
      justify-content: center;
    }

    .footer-logo {
      margin-top: -6em;
    }

    .social-icons {
      display: flex;
      align-items: center;
    }
    
    .social-icons a {
      display: flex;
      align-items: center;
      margin-right: 10px;
      text-decoration: none;
    }
    
    .social-icons i {
      margin-right: 5px;
      font-size: 24px;
    }
    
    .social-icons span {
      font-size: 20px;
      color: black;
    }

    .img-fluid {
      border-radius: 20px;
    }

    